<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> APP LOGO </span>
        
        <img width="200" alt="Bibliotheque" src="./assets/books.jpg">

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px" style="display: flex; align-items: flex-end;" class="mt-4">
                <!-- <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li> -->
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <!-- <mat-icon>person_outline</mat-icon> -->
                        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                        <!-- <i class="material-icons">face</i> -->
                        <!-- https://material.io/resources/icons/?icon=account_circle&style=baseline -->
                        <i class="material-icons">person</i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>