<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modifier un livre":"Nouveau livre"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close ml-auto" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="titre" matInput placeholder="Titre*" >
            <mat-error>Le titre est obligatoire.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="auteur" matInput placeholder="Auteur*" >
            <mat-error>Le nom de l'auteur est obligatoire.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="isbNum" matInput placeholder="Isbn*" >
            <mat-error>L'isbn est obligatoire.</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" value="test" name="test">
          <mat-form-field>
            <input formControlName="totExemplaire" type="number" matInput placeholder="Total Exemplaires*" >
            <mat-error>Le nombre d'exemplaire est obligatoire.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="publiDate" [matDatepicker]="myDatepicker" matInput placeholder="Date publication*" >
            <mat-datepicker-toggle matSuffix [for] = "myDatepicker" placeholder="mm/dd/yyyy">
            </mat-datepicker-toggle><mat-datepicker #myDatepicker></mat-datepicker>
            <mat-error>Le date est obligatoire.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="categ" placeholder="Categorie" >
              <ng-container >
                <mat-option value="C">Cuisine</mat-option>
                <mat-option value="I">Informatique</mat-option>
                <mat-option value="J">Jeunesse</mat-option>
                <mat-option value="M">Mathématiques</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" class="mr-2" type="submit" [disabled]="service.form.invalid">Envoyer</button>
            <button mat-raised-button color="warn" (click)="onClear()">Effacer</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <!-- 
    
    https://openclassrooms.com/fr/courses/4668271-developpez-des-applications-web-avec-angular/5090131-ecoutez-lutilisateur-avec-les-forms-methode-reactive 
  
    https://stackoverflow.com/questions/49752149/how-do-i-convert-2018-04-10t040000-000z-string-to-datetime/49752361

    https://www.codeflow.site/fr/article/hibernate__hibernate-one-to-many-relationship-example

    https://mkyong.com/tutorials/spring-boot-tutorials/

    https://stackoverflow.com/questions/60655158/refresh-angular-material-table-without-reload-after-crud-operation

    https://www.youtube.com/watch?v=ZL0d3M3uoRQ&t=48s : Angular Material Popup Dialog and & Model

    https://github.com/CodAffection/Angular-Material-Popup-Dialog-Model/tree/master/CompleteAngularMaterialApp : code source Angular Material Popup

    https://therichpost.com/ : bon lien pour tuto angular + datatable et angular + material

    https://gkemayo.developpez.com/tutoriels/java/tutoriel-sur-creation-application-web-avec-angular7-et-spring-boot-2/?page=expression-du-besoin-de-l-application

    https://attacomsian.com/blog/spring-data-jpa-one-to-many-mapping : Très bon tuto pour Mapping hibernate

    https://stackoverflow.com/questions/63888794/how-to-refresh-a-component-from-another-in-angular/63935918#63935918

    https://stackoverflow.com/questions/65602961/angular-mat-table-is-not-refreshing-after-insert


  -->